/* to style the body part */

body {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
  height: 100%;
}

/* this is to style the navigation */

.nav {
  width: 100%;
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */

.nav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  font-size: 20px;
}
.nav-right{
	
float:right;
}

/* Change the color of links on hover */

.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */

.nav a:active {
  background-color: black;
  font-style: initial;
  color: white;
}
hr{
 border-top: 2px solid goldenrod;
}

#empTable {
  float: left;
border: 1px;
width: 25%;
height: 600px;
text-align: center;
font-size: larger;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#empTable a{
  color: white;
}
#empTable td:hover{
  background-color: goldenrod;
  color: black;
}
#empTable a:hover{
  color: black;
}
#add{
  float:right;
  width:75%;
  background-image: url("../Images/home.jpg");
  height: 600px;
  background-position: center;
  color: goldenrod;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
#edit{
  float:right;
  width:75%;
  background-image: url("../Images/edit2.jpg");
  height: 600px;
  background-position: center;
  color: goldenrod;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
#remove{
  float:right;
  width:75%;
  background-image: url("../Images/re.jpg");
  height: 600px;
  background-position: center;
  color: goldenrod;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

h1{
  text-align: center;
}
#addcars{
  text-align: center;
}
#editcars{
  text-align: center;
  padding-right: 2em;
}
#removecars{
  text-align: center;
}
#form{
  width: 100%;
  
}
label {
  display: inline-block;
  width: 5em;
  padding-right: 2em;
}




