/* to style the body part */

body {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
  height: 100%;
}

/* this is to style the navigation */

.nav {
  width: 100%;
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */

.nav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  font-size: 20px;
}
.nav-right{
	
float:right;
}

/* Change the color of links on hover */

.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */

.nav a:active {
  background-color: black;
  font-style: initial;
  color: white;
}

.container {
  position: relative;
  font-family: Arial;
}

.cover {
  width: 50%;
}

/* this is used for giving transparent box effect on the text of the image */

.container .content {
  position: absolute;
  /* Position the background text */
  top: 18%;
  /* At the bottom. Use top:0 to append it to the top */
  left: 15%;
  /*  Use left:0 to append it to the left */
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(255, 254, 254, 0.5);
  /* Black background with 0.5 opacity */
  color: #000000;
  /* black text */
  width: 45%;
  height: 15%;
  padding: 10px;
  /* Some padding */
}

.container .content1 {
  position: absolute;
  /* Position the background text */
  top: 18%;
  /* At the bottom. Use top:0 to append it to the top */
  left: 30%;
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(184, 177, 177, 0.5);
  /* grey background with 0.5 opacity */
  color: #0a0a0a;
  /* black text */
  width: 35%;
  height: 20%;
  padding-left: 50px;
  /* Some padding */
  font-size: 15pt;
}
p{
  font-size: larger;
  font-weight: bolder;
  color: #000000;
  padding-top: 25px;

}
.social-icons{
  clear: both;
  width: 50px auto;
  text-align: center;

}
.social-icons img{
  width: 30px;
  margin: 0 10px 0 10px ;
  box-shadow: goldenrod 0 0 20px ;
  cursor: pointer;
  border-radius: 50%;
}
.top{
 
  margin-right: 150px;
  float: right;
  border-radius: 15px;
  background-color: black;
  color: goldenrod;
  font-weight: 800;
}