*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
	
}

.background{
        height: 100%;
        width: 100%;
        background-image: url(../Images/asd.jpg) ;
        background-size: COVER;
        background-position: right;
        position: absolute;
}
.form-box{
    width: 380px;
    height: 560px;
    position: relative;
    margin: 6% auto;
    background: rgb(8, 8, 8);
    padding : 5px;
    border-radius: 19px ;
    overflow: hidden;
    }
.logo{
    margin: 0;
    padding: 0;
    object-fit: cover;
    color:#ffda05;
    position: relative;
}
h2{
    position: absolute;
}
.name{

    color: white;
}
.button-box{
    width: 300px;
    padding: 0;
    margin: 35px auto;
    position:relative;
    
    border-radius: 30px;
}
.toggle-btn{
    padding:10px 40px;
    cursor: pointer;
    background: transparent;
    border:0;
    outline: none;
    position: relative;
    color: gold;
    align-content: center;
}
#btn{
    padding: 0px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: grey;
    border-radius: 30px;
    transition: 0.5s;
}
.social-icons{
    width: 30px auto;
    text-align: center;

}
.social-icons img{
    width: 30px;
    margin: 0 12px ;
    box-shadow: 0 0 20px 0 ;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 380px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid goldenrod;
    outline: none;
    background: transparent;
    color: gray;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: yellow;
    border-radius: 30px;
    border: 0;
    outline: none;
}
.check-box{
    margin: 30px 10px 37px 0;
}
span{
    color: #777;
    font-size: 16px;
    bottom: 68px;
    position: absolute;
}
#Login{
    left :5px;
}
#register{
    left: 400px;
}
