/* to style the body part */

body {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
  }
  
  /* this is to style the navigation */
  
  .nav {
    width: 100%;
    background-color: black;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  
  .nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  
  .nav a:active {
    background-color: black;
    font-style: initial;
    color: white;
  }
  
  .cover {
    width: 50%;
  }

  /*page  background is designed here */
    
 .background
 {
    margin: bottom 10px;
    height: 100%;
    width: 100%;
    background-image: url(images/ex1.jpg);
    background-size: cover;
    position:absolute;
    overflow-x: hidden;
 }

/* backgorund of the form is designed here */

 .container {
  border-radius: 15px;
  background-color: #000000;
  opacity: 95%;
  padding: 20px;
  width: 40%;
  height: 70%;
  margin-left: 30%;
  margin-top: 0.5%;
}

/*title of the form is designed here */

.title
{
  background-color: black;
  width: 40%;
  height: 7%;
  margin-left: 30%;
  text-align: center;
  color: #dfab00;
  border-radius: 15px;
  opacity: 95%;
 
}

.cards{
  background-color: #000000;
  border-radius: 5px;
  border-color: black;
  padding: 0%;
  margin: 0%;
}
.cards:hover{
  background-color: #dfab00;

}


.icons img{
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 30px;
  margin: 10px 30px 10px 30px ;  
}

* {
  box-sizing: border-box;
}
  
/*input types , textarea and select is designed here */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=number]{
 float: right;
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.date {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #aaa;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:#dfab00 ;
}

input[type=submit] {
  background-color: black;
  color: #dfab00;
  padding: 12px 20px;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
 margin-left: 20%;
 margin-top: 10%;
}
input[type=button] {
  background-color: black;
  color: #dfab00;
  padding: 12px 20px;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
 margin-right: 20%;
 margin-top: 10%;
 float: right;
}
a{
  float: right;
  font-size: 12px;
  color: #dfab00;
}
/* Hover effects for every input type :: when cursor moves over this input type and fields are filled and fileds are active then it changes its color */

input[type=button]:hover {
  background-color:  #dfab00;
  color: black;
}
input[type=submit]:hover {
  background-color:  #dfab00;
  color: black;
}
input[type=text]:hover {
  background-color:  #dfab00;
  color: black;
}
textarea:hover {
  background-color:  #dfab00;
  color: black;
}
input[type=number]:hover {
  background-color:  #dfab00;
  color: black;
}
input[type=password]:hover {
  background-color:  #dfab00;
  color: black;
}
.date:hover {
  background-color:  #dfab00;
  color: black;
}
/* alignment of label and input types */
.col-label {
  float: left;
  width: 30%;
  margin-top: 10px;
}

.col-input {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
p{
  font-size: larger;
  font-weight: bolder;
  color: #000000;
  padding-top: 25px;

}
.social-icons{
  clear: both;
  width: 50px auto;
  text-align: center;

}
.social-icons img{
  width: 30px;
  margin: 0 10px 0 10px ;
  box-shadow: goldenrod 0 0 20px ;
  cursor: pointer;
  border-radius: 50%;
}
.top{
  margin-top: 40px;
  margin-right: 150px;
  float: right;
  border-radius: 15px;
  height: 30px;
  width: 120px;
  background-color: black;
  color: goldenrod;
  font-weight: 800;
}