* {
    margin: 0%;
    padding: 0%;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(../Images/sky1.jpg);
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}
.highway{
    height:200px ;
    width: 500%;
    display: block;
    background-image: url(../Images/road.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: highway 15s linear infinite; 
    
}
@keyframes highway{
    100%{
        transform: translateX(-3400px);
    }
}
.city{
    height: 250px;
    width: 500%;
    background-image: url(../Images/city1.png);
    position: absolute;
    bottom: 190px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background-repeat: repeat-x;
    animation: city 20s linear infinite;
}
@keyframes city
{
    100%{
        transform: translateX(-1400px);
    }
}
.car{
    width: 400px;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
    animation: car 1s linear infinite;
}
.car img{
    width: 100%;
}
@keyframes car
{
    100%{
        transform: translatey(-1px);
    }
    50%{
        transform: translatey(1px);
    }

    0%{
        transform: translatey(-1px);
    }
}
.wheel{
    left: 70%;
    bottom: 200px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
    
}

.wheel img{
    width: 72px;
    height: 72px;
    animation: wheel 1s linear infinite;
}
.back-wheel
{
    left: -200px;
    position: absolute;
}
.front-wheel
{
    left: 10;
    position: absolute;
}
@keyframes wheel
{
    100%{
        transform:rotate(360deg)    }
}
.info h1
{
  
  padding-left: 27%;
  padding-top: 5%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    color: rgb(156, 236, 236);
    width: 50%;
    height: 100%;
    animation: ease-out;
}