body {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 100%;
    background-image: url("../Images/cust.jpg");
   
  }
  
  /* this is to style the navigation */
  
  .nav {
    width: 100%;
    background-color: black;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  
  .nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-size: 20px;
  }
  .nav-right{
      
  float:right;
  }
  
  /* Change the color of links on hover */
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  
  .nav a:active {
    background-color: black;
    font-style: initial;
    color: white;
  }
  hr{
   border-top: 2px solid goldenrod;
  }
#img{
    height: 100%;
  
}
.customer{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: center;
}
#button{
    text-align: center;
}

p{
  font-size: larger;
  font-weight: bolder;
  color: #000000;
  padding-top: 25px;

}
.social-icons{
  clear: both;
  width: 50px auto;
  text-align: center;

}
.social-icons img{
  width: 30px;
  margin: 0 10px 0 10px ;
  box-shadow: goldenrod 0 0 20px ;
  cursor: pointer;
  border-radius: 50%;
}
.top{
  margin-top: 40px;
  margin-right: 150px;
  float: right;
  border-radius: 15px;
  height: 30px;
  width: 120px;
  background-color: black;
  color: goldenrod;
  font-weight: 800;
}